:global {
  .custom-wrap {
    .react-datepicker__day--outside-month {
      color: #a8a8a8 !important;
      pointer-events: none;
    } //보여지는달력 해당월아닌 다른월 날짜는 회색컬러로 글자처리
    .react-datepicker__day-name {
      width: 28px;
    }
  }
}
//global: 전체 파일에 적용됨

.custom-day {
  width: 28px;
  height: 28px;
  line-height: 2.8;
}
