.select-option-wrap {
  .options-wrap {
    width: 432px;
    position: relative;
    margin-top: 1.4rem;
    &:first-child {
      margin-top: 0;
    }
  }
  .option-input {
    border: 1px solid rgb(221, 221, 221);
    text-indent: 14px;
    min-height: 40px;
    font-weight: 400;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-size: 12px;
    width: 100%;
    cursor: pointer;
  }

  .option-common {
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    justify-content: space-between;
    width: 100%;
    letter-spacing: 0.00938em;
    font-size: 12px;
    position: absolute;
    background: #fff;
    li {
      border-bottom: 1px solid rgb(221, 221, 221);
      padding: 11.5px 16px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .option-common-price {
    display: inline-block;
  }

  .required-option {
    display: none;
  }
  .view-required-option {
    display: block;
    z-index: 2;
  }

  .sub-option {
    display: none;
    z-index: 1;
  }
  .view-sub-option {
    display: block;
  }

  .select-option-amount-wrap {
    border: 1px solid rgb(244, 244, 244);
    padding: 11px 10px 11px 15px;
    margin-top: 6px;
  }
  .select-option-amount {
    width: 28px;
    height: 28px;
  }
  .select-option-minus {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMCAxNHYySDEwdi0yeiIgZmlsbD0iIzMzMyIgZmlsbC1ydWxlPSJub256ZXJvIi8+Cjwvc3ZnPgo=')
      no-repeat;
  }
  .select-option-plus {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNiAxMHY0aDR2MmgtNHY0aC0ydi00aC00di0yaDR2LTRoMnoiIGZpbGw9IiMzMzMiIGZpbGwtcnVsZT0ibm9uemVybyIvPgo8L3N2Zz4K')
      no-repeat;
  }
}
