/* 
둘다 가능 요즘은 use를 더 선호한다고도 함(네임-mixins을 아래에서 정해줘서 어디서 가져왔는지 명확히 알 수 있기 때문)
@use './mixins' as mixins;
@import './mixins'; */
@use './mixins' as mixins;
@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap');

html {
  font-size: 62.5%;
  font-family: 'Noto Sans KR',
    /* 'malgun gothic', 'AppleGothic',  'dotum',*/ 'sans-serif';
  body {
    font-size: 1.6rem;
  }
}

.inner-1050 {
  position: relative;
  width: 1050px;
  margin: 0px auto;
}

.flex-space-between-center {
  @include mixins.flex-space-between-center; //use로 가져온 파일에서 꺼내옴(mixins:내가 위에서 지은 네임스페이스 /.flex-space-between-center:클래스명)
}

.main-article-bold-title {
  padding-top: 1px;
  font-size: 28px;
  color: rgb(51, 51, 51);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.26px;
}
.main-article-gray-title {
  font-size: 16px;
  color: rgb(153, 153, 153);
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: normal;
}
